<a href="https://colab.research.google.com/github/taciomattos/taciomattos/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('ds_salaries.csv')
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

#1.Quais as dimensões do dataframe? 607 linas e 12 colunas

In [9]:
df.shape

(607, 12)

#Quais são as colunas apresentadas no dataframe?

In [11]:
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

#Qual  o  menor  salário  pago,  em  dólares  americanos  (coluna salary_in_usd)?

In [12]:
df['salary_in_usd'].min()

2859

#Qual  o  maior  salário  pago,  em  dólares  americanos  (coluna salary_in_usd)?

In [14]:
df['salary_in_usd'].max()

600000

#5.Quais os cargos descritos (coluna job_title)?

In [30]:
df['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'Data Science Consultant', 'BI Data Analyst',
       'Director of Data Science', 'Research Scientist',
       'Machine Learning Manager', 'Data Engineering Manager',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'AI Scientist', 'Computer Vision Engineer',
       'Principal Data Scientist', 'Data Science Manager', 'Head of Data',
       '3D Computer Vision Researcher', 'Data Analytics Engineer',
       'Applied Data Scientist', 'Marketing Data Analyst',
       'Cloud Data Engineer', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Machine Learning Developer',
       'Applied Machine Learning Scientist', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Big Data Architect', 'Staff Data Scientist', 'Analytics Engineer',
       'ETL Developer', 'Head of Machine Learning', 'NLP Engineer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead'],
      dtype=object)

#6.Quantos cargos foram descritos?

In [29]:
len(df['job_title'].unique())

50

#7.Qual a moeda em que mais salários foram pagos (salary_currency)?

In [48]:
salariosemmoedas = df[['salary','salary_currency']].groupby('salary_currency').sum().sort_values(by='salary', ascending = False)
salariosemmoedas

                   salary
salary_currency
INR              55734997
USD              54631386
CLP              30400000
HUF              22000000
JPY              19950000
EUR               5441699
GBP               2712856
CAD               2214500
MXN                778000
CNY                539000
TRY                538000
DKK                480000
PLN                440000
SGD                280000
AUD                241000
BRL                171600
CHF                115000