<a href="https://colab.research.google.com/github/taciomattos/taciomattos/blob/main/%C3%81rvore%20de%20regress%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cancer decision three

Algpritmo

In [6]:
# importação das bibliotecas necessárias

import pandas as pd

In [7]:
df = pd.read_csv('framingham.csv')

#Estudo da base

Estudar a base, entender o problema, interpretar os dados

In [10]:
# quantidade de linas e colunas

df.shape

(4238, 16)

In [11]:
# conhecendo os primeiro e últimos dados

df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0